body
{
    padding: 0;
    margin: 0
}

#pageWrapper{
    padding: 0;
    width: 1060px;
    margin: 0 auto;
}

#header{
    background-color: #7289DA;
    width: 100%;
    height: 72px;
}

/*make thead header height 72 pixels*/
#middle{
    margin-top: 90px;
}

#footer{
    margin-top: 90px;
}

#boards{
    margin: 0 auto;
    width: 800px;
    height: 385px;
    background-color: gray;
}

#popular{
    margin: 0 auto;
    width: 800px;
    background-color: #7289DA;
}

#row1{
    position: absolute;
    margin-left: 0px;
}

#row2{
    position: absolute;
    margin-left: 100px;
}
#row3{
    position: absolute;
    margin-left: 200px;
}

#row4{
    position: absolute;
    margin-left: 300px;
}

#row5{
    position: absolute;
    margin-left: 400px;
}

#row6{
    position: absolute;
    margin-left: 500px;
}

#row7{
    position: absolute;
    margin-left: 600px;
}

#row8{
    position: absolute;
    margin-left: 700px;
}

#buttons{
    position: absolute;
    padding: 0;
    width: 1060px;
    margin: 0 auto;
    text-align: right;
}

.tab{
    width: 100px;
    height: 35px;
    background-color: #7289DA;
}

#headerText{
    margin: 0 0 0 0;
}

.btn {
  -webkit-border-radius: 6;
  -moz-border-radius: 6;
  border-radius: 6px;
  font-family: Arial;
  color: #ffffff;
  font-size: 12px;
  background: #3498db;
  padding: 8px 8px 8px 8px;
  text-decoration: none;
}

.btn:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
}