<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">

    <head>
        <link rel="stylesheet" type="text/css" href="/css/style.css" />
        <meta charset="utf-8" />
        <title></title>
    </head>
    <body>
        <div id="top">
            <div id="header">
                <div id="buttons">
                <a href="/login">
                    <button class='btn' id='headertext'>Log In</button>
                </a>
                <a href="/logout">
                    <button class='btn'>Log out</button>
                </a>
                </div>
            </div>
        </div>
        <div id="pageWrapper">
            <div id="middle">
                <div id='newBoards'></div>
                <a href="/board">
                    <button>create a board</button>
                </a>
                    <div id="boards">
                        <div id="row1">
                            <div id="tab1" class="tab"></div>
                            <div id="tab2" class="tab"></div>
                            <div id="tab3" class="tab"></div>
                            <div id="tab4" class="tab"></div>
                            <div id="tab5" class="tab"></div>
                            <div id="tab6" class="tab"></div>
                            <div id="tab7" class="tab"></div>
                            <div id="tab8" class="tab"></div>
                            <div id="tab9" class="tab"></div>
                            <div id="tab10" class="tab"></div>
                            <div id="tab11" class="tab"></div>
                        </div>
                        <div id="row2">
                            <div id="tab12" class="tab"></div>
                            <div id="tab13" class="tab"></div>
                            <div id="tab14" class="tab"></div>
                            <div id="tab15" class="tab"></div>
                            <div id="tab16" class="tab"></div>
                            <div id="tab17" class="tab"></div>
                            <div id="tab18" class="tab"></div>
                            <div id="tab19" class="tab"></div>
                            <div id="tab20" class="tab"></div>
                            <div id="tab21" class="tab"></div>
                            <div id="tab22" class="tab"></div>
                        </div>
                        <div id="row3">
                            <div id="tab23" class="tab"></div>
                            <div id="tab24" class="tab"></div>
                            <div id="tab25" class="tab"></div>
                            <div id="tab26" class="tab"></div>
                            <div id="tab27" class="tab"></div>
                            <div id="tab28" class="tab"></div>
                            <div id="tab29" class="tab"></div>
                            <div id="tab30" class="tab"></div>
                            <div id="tab31" class="tab"></div>
                            <div id="tab32" class="tab"></div>
                            <div id="tab33" class="tab"></div>
                        </div>
                        <div id="row4">
                            <div id="tab34" class="tab"></div>
                            <div id="tab35" class="tab"></div>
                            <div id="tab36" class="tab"></div>
                            <div id="tab37" class="tab"></div>
                            <div id="tab38" class="tab"></div>
                            <div id="tab39" class="tab"></div>
                            <div id="tab40" class="tab"></div>
                            <div id="tab41" class="tab"></div>
                            <div id="tab42" class="tab"></div>
                            <div id="tab43" class="tab"></div>
                            <div id="tab44" class="tab"></div>
                        </div>
                        <div id="row5">
                            <div id="tab45" class="tab"></div>
                            <div id="tab46" class="tab"></div>
                            <div id="tab47" class="tab"></div>
                            <div id="tab48" class="tab"></div>
                            <div id="tab49" class="tab"></div>
                            <div id="tab50" class="tab"></div>
                            <div id="tab51" class="tab"></div>
                            <div id="tab52" class="tab"></div>
                            <div id="tab53" class="tab"></div>
                            <div id="tab54" class="tab"></div>
                            <div id="tab55" class="tab"></div>
                        </div>
                        <div id="row6">
                            <div id="tab56" class="tab"></div>
                            <div id="tab57" class="tab"></div>
                            <div id="tab58" class="tab"></div>
                            <div id="tab59" class="tab"></div>
                            <div id="tab60" class="tab"></div>
                            <div id="tab61" class="tab"></div>
                            <div id="tab62" class="tab"></div>
                            <div id="tab63" class="tab"></div>
                            <div id="tab64" class="tab"></div>
                            <div id="tab65" class="tab"></div>
                            <div id="tab66" class="tab"></div>
                        </div>
                        <div id="row7">
                            <div id="tab67" class="tab"></div>
                            <div id="tab68" class="tab"></div>
                            <div id="tab69" class="tab"></div>
                            <div id="tab70" class="tab"></div>
                            <div id="tab71" class="tab"></div>
                            <div id="tab72" class="tab"></div>
                            <div id="tab73" class="tab"></div>
                            <div id="tab74" class="tab"></div>
                            <div id="tab75" class="tab"></div>
                            <div id="tab76" class="tab"></div>
                            <div id="tab77" class="tab"></div>
                        </div>
                        <div id="row8">
                            <div id="tab78" class="tab"></div>
                            <div id="tab79" class="tab"></div>
                            <div id="tab80" class="tab"></div>
                            <div id="tab81" class="tab"></div>
                            <div id="tab82" class="tab"></div>
                            <div id="tab83" class="tab"></div>
                            <div id="tab84" class="tab"></div>
                            <div id="tab85" class="tab"></div>
                            <div id="tab86" class="tab"></div>
                            <div id="tab87" class="tab"></div>
                            <div id="tab88" class="tab"></div>
                        </div>
                    </div>
                </div>
            <div id="footer">
                <div id="popular">
                    <div id="row1">
                        <div id="tab89" class="tab"></div>
                    </div>
                    <div id="row2">
                        <div id="tab90" class="tab"></div>
                    </div>
                    <div id="row3">
                        <div id="tab91" class="tab"></div>
                    </div>
                    <div id="row4">
                        <div id="tab92" class="tab"></div>
                    </div>
                    <div id="row5">
                        <div id="tab93" class="tab"></div>
                    </div>
                    <div id="row6">
                        <div id="tab94" class="tab"></div>
                    </div>
                    <div id="row7">
                        <div id="tab95" class="tab"></div>
                    </div>
                    <div id="row8">
                        <div id="tab96" class="tab"></div>
                    </div>
                </div>
            </div>
        </div>
        <script type="text/javascript">
            // ask someone how to export JSON.stringify
            var blah = <%- JSON.stringify(user) %>;
            var newBoards = <%- JSON.stringify(boards) %>;
            document.getElementById('tab1').innerHTML = blah;
            document.getElementById('newBoards').innerHTML = newBoards.slice(0, 3);
        </script>
    </body>
</html>